# Case Study 2
-  Diving deeper into pandas, numpy and matplotlib to analyze fuel economy data for different car models from 2008 and 2018
- The fuel economy of an automobile is the fuel efficiency relationship between the distance travelled and the amount of fuel consumed by the vehicle. Consumption can be expressed in terms of volume of fuel to travel a distance or the distance travelled per unit volume of the fuel consumed

## Data Overview
- There are probably a few features in the datasets that dont make sense to you
- Before analyzing the datasets, take some time to understand this data and how it was collected
- [Documentation](https://www.fueleconomy.gov/feg/download.shtml)

In [19]:
import pandas as pd
df_08 = pd.read_csv("fuel-economy-datasets/all_alpha_08.csv")
df_18 = pd.read_csv("fuel-economy-datasets/all_alpha_18.csv")

In [20]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [21]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

## Asking Questions
- __Relevant Questions to Ask about this data__
1. Are more models using alternative sources of fuel? By how much?
2. How much have vehicle classes improved in fuel economy?
3. What are the characteristics of smartWay vehicles?
4. What features are associated with better fuel economy?
5. For all the models that were produced in 2008 that are still being produced in 2018, how much has the mpg improved and which vehicle improved the most?

## Accessing Data

In [24]:
# samples for 2008 data set
df_08.shape

(2404, 18)

In [25]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [26]:
# duplicated rows
df_08.duplicated().sum()

25

In [41]:
# rows with missing data
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [29]:
# number of non null unique values
df_08['SmartWay'].nunique()

2

In [30]:
# sales area
df_08['Sales Area'].nunique()

3

In [31]:
# Trans
df_08['Trans'].nunique()

14

In [32]:
df_08.isnull().shape[0]

2404

In [34]:
# samples for 2018 data set
df_18.shape

(1611, 18)

In [36]:
# duplicate rows
df_18.duplicated().sum()

0

In [37]:
# rows with missing data
df_18.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [38]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [39]:
# number of non null uniques values
df_18['SmartWay'].nunique()

3

In [40]:
# Cert Region
df_18['Cert Region'].nunique()

2

In [41]:
# listing all fuel types
df_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [42]:
df_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

## Cleaning Column Labels
1. __Drop extraneous columns__
- Drop features that aren't consistent(not present in both datasets) or that aren't relevant to our questions
- Use `pandas drop` function

2. __Rename columns__
- Change the "Sales Area" column in 2008 to "Cert Region" for consistency
- Rename all column labels to replace spaces with underscores and convert everything to lowercase
- Underscores are much easier to work with in python spaces, having spaces wouldn't allow you to use `df.column_name` instead of `df['column_name']` to select columns or use `query()`

In [43]:
# Drop extraneous columns on 2008 data set
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [44]:
# Drop extraneous columns on 2018 data set
df_18.drop(columns=['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], inplace=True)
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [45]:
# Renaming Sales Area to Cert Region
df_08.rename(columns={"Sales Area": "Cert Region"}, inplace=True)
# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [49]:
# replaces spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [50]:
# replaces spaces with underscores and lowrcase labels for 2018 dataset
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [51]:
# confirm column labels for both 2008 and 2018 are identical
df_08.columns == df_18.columns  #returns True

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [52]:
# making sure they are all identical
(df_08.columns == df_18.columns).all() #returns True

True

In [53]:
# save new datasets for the next session
df_08.to_csv("fuel-economy-datasets/all_alpha_08_clean.csv", index=False)
df_18.to_csv("fuel-economy-datasets/all_alpha_18_clean.csv", index=False)

## Filter, Drop nulls, Dedupe
1. __Filter__
- For consistency only compare cars certified by California standards
- Filter both datasets using `query` to select only rows where `cert region` is `CA`
- Then drop the cert region columns since it will no longer provide any useful information (we'll know value is CA)

2. __Drop Nulls__
- Drop any rows in both datasets that contain missing values

3. __Dedupe__
- Drop any duplicate rows in both datasets

### Filter

In [2]:
# loading data sets
import pandas as pd

df_c_08 = pd.read_csv("fuel-economy-datasets/all_alpha_08_clean.csv")
df_c_18 = pd.read_csv("fuel-economy-datasets/all_alpha_18_clean.csv")

In [3]:
# dimensions of datasets
df_c_08.shape, df_c_18.shape

((2404, 14), (1611, 14))

In [4]:
df_c_18['cert_region'].unique()

array(['FA', 'CA'], dtype=object)

In [5]:
# filter datasets for rows following California standards
df_c_08 = df_c_08.query('cert_region == "CA"')
df_c_18 = df_c_18.query('cert_region == "CA"')

In [6]:
# confirm only certification region is California
df_c_08['cert_region'].unique()

array(['CA'], dtype=object)

In [7]:
# drop certification region columns form both datasets
df_c_08.drop('cert_region', axis=1, inplace=True)
df_c_18.drop('cert_region', axis=1, inplace=True)

In [8]:
df_c_08.shape, df_c_18.shape

((1084, 13), (798, 13))

### Dropping Rows With Missing Values

In [9]:
# missing value count for each feature in 2008
df_c_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [10]:
# missing value count for each feature in 2018
df_c_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [11]:
# drop rows with null values in all data sets
df_c_08.dropna(inplace=True)
df_c_18.dropna(inplace=True)

In [12]:
# checking if any of the columns in both data sets have null values
df_c_08.isnull().sum().any(), df_c_18.isnull().sum().any()

(False, False)

### Dedupe

In [16]:
# printing number of duplicates
print(df_c_08.duplicated().sum())
print(df_c_18.duplicated().sum())

23
3

In [17]:
# drop duplicates in both datasets
df_c_08.drop_duplicates(inplace=True)
df_c_18.drop_duplicates(inplace=True)

In [18]:
# confirming number of duplicates
print(df_c_08.duplicated().sum())
print(df_c_18.duplicated().sum())

0
0

## Inspecting data types

In [20]:
# saving data sets
df_c_08.to_csv("fuel-economy-datasets/data_08_v2.csv", index=False)
df_c_18.to_csv("fuel-economy-datasets/data_18_v2.csv", index=False)

In [21]:
# loading datasets
import pandas as pd
data_08_v2 = pd.read_csv("fuel-economy-datasets/data_08_v2.csv")
data_18_v2 = pd.read_csv("fuel-economy-datasets/data_18_v2.csv")

In [25]:
data_08_v2.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [26]:
data_18_v2.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [30]:
print(data_08_v2.cyl.dtype)
print(data_18_v2.cyl.dtype)

object
float64

In [31]:
data_08_v2.cyl.unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', '(2 cyl)'], dtype=object)

__solutions__
1. * cyl
   - Extract int values from the strings in the 2008 cyl column
   - Convert floats to int in the 2018 cyl column
2. * Air pollution score
   - Convert strings to floats in the 2008 column
   - Convert ints to floats in the 2018 column
3. Converting the mpg features in both datasets to floats from strings
4. * greenhouse_gas_store
   - Convert strings to ints in the 2008 column