# Introduction
- Data wrangling is the process of gathering your data, accessing its quality and structure and cleaning it before you do things like analysis, visualizations or build perspective models using machine learning

# Course Outline
1. Lesson 1: The Walkthrough
2. Lesson 2-4: Gathering Assesing and Cleaning Data (in detail)

# Why wrangle data?
- Data is being produced in large amounts so data savviness will only become more and more important in the future

# Data Wrangling Examples
- Data Wrangling is serious business. The consequences from a lack of data wrangling can have a major impact
    * __Financial Analyst__ - If you are creating models to make million dollar trades, your data better be clean or you'll go broke
    * __Drug Company Scientist__ - If your company is about to start human trials for a life saving new drug and you need to determine the right dosage for humans based on your lab and animal tests, your data needs to be clean or your drug might not work and you could seriously hurt people

# Walkthrough and dataset
- We start with brief introuductions to gathering, then assessing and then cleaning our data which are our three core steps in the data wrangling process
- The dataset to be wrangled is a [dataset of 19000 online job posts from 2004 to 2015](https://www.kaggle.com/datasets/udacity/armenian-online-job-postings) that were posted through an Armenian human resource portal
- The dataset is dirty and messy enough that you'll have wrangling work to do but alo clean enough that it wont give you a headache.

## Gather(Intro)
__What is data gathering?__ 
- Gathering is sometimes called acquiring or collecting data.
- Data sources; **Files, Database, scrapped off a website, API**

## Gather(Download)
- Downloading can be done manually by clicking the download button or sometimes right clicking on a link and clicking "Save file as"
- Best practice is to download files programmatically for **scalibility** and **reproducibility**

1. Scalability - The ability of a process to handle an increasing scope of work. Imsgine you had a thousand files to download on a thousand different web pages instead of just one. It'd take an eternity to point and click a thousand times. You can do the same with a few lines of code
2. Reproducibility - The ability of a process to produce the same results from identical inputs. Someone other than yourself will want to run your analysis later, so make downloading the datasets as easy to that person as possible
- Reproducibility is also one of the main principles of [scientific methods](https://en.wikipedia.org/wiki/Scientific_method#Documentation_and_replication). You wanna be able to prove to people that your analysis and visualizations are legitimate plus the dataset on the web page it lives may change

## Gather(unzip file)
- Using code to unzip files makes your wrangling work more reproducibe than using an external program or clicking and unzipping the file
* import the zip file library
- `zipfile.Zipfile` is the class for reading and writing zip files

In [1]:
import zipfile

In [3]:
# extracting all contents from a zipfile
with zipfile.ZipFile('archive.zip', 'r') as data:
    data.extractall()

## Gather: Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("online-job-postings.csv")

# Asses
### Intro
#### Data Quality
- Low quality data is commonly reffered to as dirty data. Dirty data has issues with its content.
- Data quality is an assesment or a perception of data's fitness to serve its purpose in a given context
- There are no hard and fast rules for data quality. One dataset may be high enough for one application but not for another
- Common data quality issuees include;
    * missing data
    * invalid data - a cell having an impossible value i.e -50 inches as someone's height, having inches in the height column as well as it makes it a string
    * inaccurate data
    * inconsistent data - i.e using different units for height

#### Tidiness
- Untidy data is commonly referred to as messy data. Messy data has issues with its structure
- A dataset is messy or tidy depending on how rows columns and tables are matched up with observations, variables and types. In tidy data;
    * Each variable forms a column
    * Each observation forms a row
    * Each type of observation unit forms a table

### Types of Assesment
1. __virtual assesment__ - opening your data in your favourite software application and scroll through it looking for quality and tidiness issues
2. __pragmatic assesment__ - tends to be more efficient than visual assesment. One simple example is the pandas `info` method which gives us a basic info of the dataframe like number of entries, number of columns, the types of each column, whether there are missing values and more. Another example is the pandas plotting capabilities through the `plot` method

## Visually inspecting the data

In [3]:
# visually inspecting the data
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

* Missing values (NaN)
* StartDate inconsistencies

- We've got 19001 rows and 24 columns

#### What needs to be fixed?
1. __Missing Records__
- Missing records are a common issue. _pandas_ represents them as `NaN`  which means not a number

2. __Multiple terms that mean the same thing__
- In the **Start Date** column, "ASAP" "As soon as possible" and "immediately" all mean the same thing. Ideally the same term should be used in all cases

#### What doesn't need to be fixed
1. __Escape Characters__
- The backslashes followed by letters are called Escape Constructs. They help structure text on web pages using new lines and special characters
- We want to preserve the structure of the original posting so we wont need to fix this in the **Clean** step

- It's good practice to document all your assesment before starting the **Clean** step for easy referencing to prevent hectic scrolling

## Pragmatic Assesment
##### The Downside of visual assesment
- If we scroll through our DataFrame a bit more, we'll notice that pandas automatically collapses some columns and rows of larger datasets. It does this because viewing large datasetes takes up too much space. This makes visual assesment difficult in pandas

##### Pragmatic assesment in pandas
- We use the pandas `info` function to get a concise summary of our dataset
- We ge information including; number of entries, name and datatypes of columns, total memory usage

- Nondescriptive column headers (ApplicationP, AboutC, RequiredQual)

### Observations about our dataset 
- Some of the column names are problematic
- What is `ApplicationP`, `AboutC`, `RequiredQual`. One of the fundamentals of quality data is having descriptive variable and value names
- `JobRequirement` is descriptive enough but has a typo that needs fixing
- Assesments should not include verbs like "__Fix__ nondescriptive column names". They should only be observations of issues with the data i.e "nondescriptive column headers". Verbs come into play when defininig cleaning operations

## Explore common Pragmatic Assesments
- Its another area where we use code tohelp detect problems that are not easily detectable with the human eye
- Four common pragmatic assesment methhods in pandas; __head__, __tail__, __info__ and __value_counts__

In [4]:
# displaying the first five rows of the dataframe
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [5]:
# displaying the last five rows
df.tail()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

In [6]:
# displaying a basic summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jobpost           19001 non-null  object
 1   date              19001 non-null  object
 2   Title             18973 non-null  object
 3   Company           18994 non-null  object
 4   AnnouncementCode  1208 non-null   object
 5   Term              7676 non-null   object
 6   Eligibility       4930 non-null   object
 7   Audience          640 non-null    object
 8   StartDate         9675 non-null   object
 9   Duration          10798 non-null  object
 10  Location          18969 non-null  object
 11  JobDescription    15109 non-null  object
 12  JobRequirment     16479 non-null  object
 13  RequiredQual      18517 non-null  object
 14  Salary            9622 non-null   object
 15  ApplicationP      18941 non-null  object
 16  OpeningDate       18295 non-null  object
 17  Deadline          18936 non-null  object
 18  Notes             2211 non-null   object
 19  AboutC            12470 non-null  object
 20  Attach            1559 non-null   object
 21  Year              19001 non-null  int64
 22  Month             19001 non-null  int64
 23  IT                19001 non-null  bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [7]:
# Display the entry counts for the year column using value_counts
# df.Year.value_counts(normalize=True) # contains relative frequencies of the unique values
df.Year.value_counts()

2012    2149
2013    2009
2015    2009
2014    1983
2008    1785
2011    1697
2007    1538
2010    1511
2009    1191
2005    1138
2006    1116
2004     875
Name: Year, dtype: int64

## Is this dataset tidy?
- No , this dataset isn't tidy. For tidy data we need each variable to be a column, each observation to be a row, each type of observational unit is a table

### Problems in our dataset
1. Duplicate representation of Year and Month data - at the begining of the dataset theres a column for date containing month, date and year. At the end there's the Year and Month having their own columns too. For tidiness we need one date, one month and one year so that if we have updates we dnly do it in one place
2. Ther are two types of observational units in the data: jop posting data and company data. To make this tidy we would have two tables: jop posting data with everything except the `AboutC` and then a second company table with only the company column and the `About Company` column

- We will skip fixing this untidiness in the clean step. And sometimes non-tidy data is okay.For the analysis and visualizations that we are going to make our data in a non-tidy foramt works

- Missing values (NaN)
- StartDate inconsistencies (ASAP)
- Nondescriptive column headers (ApplicationP, AboutC, RequiredQual ..and also JobRequirement)
- Untidy dataset

# Clean
- Cleaning means acting on the assesments we made to improve quality and tidiness

#### Improving quality
- It doesn't mean changing the data to make it sth different, that's data fraud
- Examples of improving quality;
    * Correcting when inaccurate i.e removing the weight of a mouse in a dataset from 230kg to 0.023kg
    * Removing when irrelevant - i.e removing the row of Apples from a dataset that has animals
    * Replacing when mising
    * combining, concatenating missing rows

#### Improving tidiness
- Means transforming the dataset so that each variable is a column, each observation is a row and each type of observational unit is a table
- Pandas has special functions that aid in doing that

#### Pragmatic Data Cleaning Process
1. Define - means definig a data cleaning plan in writing, where we turn our assesments into defined cleaning tasks. This plan serves as an instruction list so others can look at our work and reproduce it
2. Code - translating definitions to code and executing that code
3. Test - means testing our dataset often using code to make sure our cleaning operatons worked

## Defining What We want to clean
- Defining what we want to clean is creating a cleaning plan or instruction list where we convert the notes we made in the asses step into specific cleaning tasks
- IT canalso be thought of as pseudo code

#### Missing Values
- Make a mental note and beware of these values when we start coding because they can cause unintuitive results

#### Start Date inconsistencies
- These were multiple repesentations of "As Soon As Possible" in the start date column. Writing a script to minize code repetition for the cleaning makes sense
- Let's pick __ASAP__ as our standard. We can select all records in the start date column that have "as soon as possible", "immediately" and replace the text in those cells with "ASAP"

#### Non descriptive column headers
- We dont want spaces in the column headers because we can't access columns using dot notation in pandas

## Define
- Select all columns in the StartDate column that have "as soon as possible", "immediately" etc and replace the text in those cells with "ASAP"
- Select all non descriptive column headers (ApplicationP, AboutC, RequiredQual, JobRequirement) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications, JobRequirements)

### Defining then Coding and Testing immediately
- We will be performing the define, code and test steps of cleaning data programmatically and in order (write all the definitions, convert all of the definitions to code, test all the cleaning operations)

## Clean: code 1
- Let's convert our cleaning definitions into python code
- Before making any modifications to our datset, lets make a copy of it so we can access the original dataset later using _pandas_ `.copy` function

## Code

In [19]:
df_clean = df.copy()

- Select all non descriptive column headers (ApplicationP, AboutC, RequiredQual, JobRequirement) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications, JobRequirements)

In [20]:
df_clean = df_clean.rename(columns={'ApplicationP': 'ApplicationProcedure', 'AboutC': 'AboutCompany', 'RequiredQual': 'RequiredQualifications', 'JobRequirement': 'JobRequirements'})

### Fixing inconsistent data
- The first step is to identify all the versions of inconsistent values. We can use the `value_counts` method
- Without `inplace` being `True` we would have to reassign the results of the function to our StartDate column

- Select all columns in the StartDate column that have "as soon as possible", "immediately" etc and replace the text in those cells with "ASAP"

In [23]:
df_clean.StartDate.value_counts()

ASAP                              4754
Immediately                        773
As soon as possible                543
Upon hiring                        261
Immediate                          259
                                  ...
Flexible                             1
11 April 2010                        1
ASAP starting 10 February 2006       1
07 April 2010                        1
15 March 2009                        1
Name: StartDate, Length: 1186, dtype: int64

In [28]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
            'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
            '"Immediate employment, after passing the interview."',
            'ASAP preferred', 'Employment contract signature date',
            'Immediate employment opportunity', 'Immidiately', 'ASA',
            'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
            'Immediately upon agreement', '20 November 2014 or ASAP',
            'immediately', 'Immediatelly',
            '"Immediately upon selection or no later than November 15, 2009."',
            'Immediate job opening', 'Immediate hiring', 'Upon selection',
            'As soon as practical', 'Immadiate', 'As soon as posible',
            'Immediately with 2 months probation period',
            '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
            'Immediately/ upon agreement', '01 September 2014 or ASAP',
            'Immediately or as per agreement', 'as soon as possible',
            'As soon as Possible', 'in the nearest future', 'immediate',
            '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
            'Immediate or earliest possible', 'Immediate hire',
            'Earliest  possible', 'ASAP with 3 months probation period.',
            'Immediate employment opportunity.', 'Immediate employment.',
            'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

for phrase in asap_list:
    df_clean.StartDate.replace(phrase, "ASAP", inplace=True)

## Test
#### Visual Testing
- Testing can be done visually for simple fixes like modifying the column headers
- We call the DataFrame to open it

In [29]:
df_clean.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationProcedure,OpeningDate,Deadline,Notes,AboutCompany,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

### Pragmatic Testing
- Visual testing doesn't work when columns or rows are collapsed, this is where pragmatic testing comes in handy
- We can test using the `.info` method

In [30]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   jobpost                 19001 non-null  object
 1   date                    19001 non-null  object
 2   Title                   18973 non-null  object
 3   Company                 18994 non-null  object
 4   AnnouncementCode        1208 non-null   object
 5   Term                    7676 non-null   object
 6   Eligibility             4930 non-null   object
 7   Audience                640 non-null    object
 8   StartDate               9675 non-null   object
 9   Duration                10798 non-null  object
 10  Location                18969 non-null  object
 11  JobDescription          15109 non-null  object
 12  JobRequirment           16479 non-null  object
 13  RequiredQualifications  18517 non-null  object
 14  Salary                  9622 non-null   object
 15  ApplicationProcedure    18941 non-null  object
 16  OpeningDate             18295 non-null  object
 17  Deadline                18936 non-null  object
 18  Notes                   2211 non-null   object
 19  AboutCompany            12470 non-null  object
 20  Attach                  1559 non-null   object
 21  Year                    19001 non-null  int64
 22  Month                   19001 non-null  int64
 23  IT                      19001 non-null  bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

- Using pragmatic testing to test that our second cleaning operation, standardizing the ASAP start dates worked

In [32]:
df_clean.StartDate.value_counts()

ASAP                 6856
01 September 2012      31
March 2006             27
November 2006          22
January 2010           19
                     ...
Flexible                1
11 April 2010           1
3-21 July 2006          1
07 April 2010           1
25 March 2009           1
Name: StartDate, Length: 1140, dtype: int64

## Asert Statements
- Are debugging tools in python. It starts with assert followed by a logical statement that evaluates to `True` or `False`
- If the logical sttatement is True nothing happens, if the statement is False an assertion error is thrown

In [35]:
assert 2 + 2 == 5

AssertionError:

### Using assert to test StartDate inconsistencies
- Write an assert statement to verify that none of the phrases similar to ASAP remain in the `StartDate` column

In [36]:
for phrase in asap_list:
    assert phrase not in df_clean.StartDate.values

# Reassess and Iterate
### Data wrangling is an iterative process
- We've gathered assessed and cleaned our data
- After cleaning we always reasses and then iterate on any of the steps if we need to
- If we are happy with the quality and tidiness of our data we can move on to storing our clean data or analyzing, visualizing or modelling
    * sometimes we realize we need to gather more data
    * Sometimes we miss assesments. It's hard to catch everything on the first go and its also very common to find new issues as you are fixing the ones you've already identified
    * Sometimes our cleaning operations dont work as intended

### Storing Data (Optional)
- After reassessing and revisting any steps of the data wrangling process deemed necessary, storing your cleaned data is the next logical step
- Storing data is important if you need to use your cleaned data in the future.Storing data isnt always necessary though

# Wrangling vs EDA
- Data wrangling seems similar to Exploratory Data Analysis (EDA) because they are very similar and often get confused
- _**EDA**_ - _an analysis approach that focuses on identifying general patterns in the data and identifying outliers and features of the data that might not have been anticipated_

- Where does __data wrangling__ end and __EDA__ begin?

- __Data wrangling__ is about gathering the right pieces of data, assesing your data's quality and structure then modifying your data to make it clean
- The assesments you make and convert to cleaning operations won't make your analysis, visualizations or models better. The goal is to make them functional
- __EDA__ is about exploring your data to later augment it to maximize the potential of our analyses, visualizations and models
- When exploring simple visualizations are often used to summarize your data's main characteristics. From there you can do things like remove outliers and create new and more descriptive features from existing data also known as **feature engineering**. Or detect and remove outliers so your models fit better.
- In practice data wrangling and EDA can and often do exist together

# [ETL](https://tdwi.org/articles/2017/02/10/data-wrangling-and-etl-differences.aspx)
- A process to copy data from one or more sources and intergrate it into a single dataset
- extract transform process (ETL) differs from data wrangling in three main ways:
    1. The users are different
    2. The data is different
    3. The use cases are different

## Analysis and visualitiion
- What insights do we pull from ths data?